/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

header a {
	color: rgb(152,173,166);
	text-decoration: none;
}

header a:hover {
	color: rgb(122,137,132);
}

h1 {
	color: rgb(152,173,166);
	adding-bottom: 10px;
	margin: 0 0 5px;
	font-size: 5em;
	font-weight: bold;
	font-family: 'Baskerville', serif;
  border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

#featured img {
	border: 5px rgb(152,173,166) solid;
}

 h2 {
	color: rgb(111,127,122);
	display: block;
  font-size: 2em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
	font-family: 'Times New Roman', serif
}

p {
	color: #555;
  font-size: 1em;
  margin: 0 0 20px 0;
}

#featured a {
	color: #1783bb;
	text-decoration: none;
}

#featured a:hover {
	color: rgb(122,137,132);
}

#press img {
	border: 5px #ccc solid;
	padding: 1px;
	margin-bottom: 20px;
	transition: border-color 2s ease-out;
}

#press img:hover {
	border-color: rgb(122,137,132);
}

.small p {
	text-align: right;
	color: ; #555;
	font-size: 0.8em;
	margin: 0 0 20px 0;
}